<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Word Adventure - {{ .Title }}</title>
	
	</head>

	<body>
		<div id="mid">
			<h1>{{ .Title }}</h1>
			{{ range .Paragraphs }}
			<p>{{ $s }}</p>
			{{ end }}

			{{ range .Options }}
			<span id="choice"></span>
			<a href= "{{.Chapter }}.html">{{.Text }}</a><br><br>
			{{ end }}
		</div>

		<style>
			body {
				background-color: #bfbfbf;
			}

			#mid {
				max-width: 600px;
				margin: auto;
                left: 30px;
				padding: 10px;
				border: 5px solid black;
				background-color: #f5f5dc;
			}

			h1 {
				text-align: center;
			}

			a {
				padding: 10px;
				text-decoration: none;
			}

			#choice {
				font-size: 48px;
			}
		</style>
	</body>
</html>`